.nombre {
    background-color: aqua;
    color: black;
    text-align: center;
    font: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.menu {
    background-color: yellow;
    color: black;
    text-align: justify;
}

div {    
    background: black;
    color: white; 
    text-align: end;
}

.c1 {
    background: greenyellow;
    color: blueviolet;
    border-style: dotted;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-right: 150px;
    margin-left: 80px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

#id1 {
    background: darkblue;
    color: red;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 400;
    font: bolder;
}